node_modules
.next
dist
.git
*.zip
*.log
npm-debug.log*
.dockerignore
Dockerfile
docker-compose.yml
infrastructure
poc
docs
scripts
backend/node_modules
backend/dist
front/rdam-frontend/node_modules
front/rdam-frontend/.next
pasarela-campus-2026/node_modules
